pipeline/child_pipeline.json
{
	"name": "child_pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach_races",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.races",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "set_season",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "set_season",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "set_round",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy_races_result",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_season",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "set_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "result_source",
									"type": "DatasetReference",
									"parameters": {
										"base_url": {
											"value": "http://ergast.com/api/f1/",
											"type": "Expression"
										},
										"relative_url": {
											"value": "@concat(variables('set_season'),'/',variables('set_round'),'/','results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_result",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"races": {
				"type": "array"
			}
		},
		"variables": {
			"set_season": {
				"type": "String"
			},
			"set_round": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-19T19:38:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}